/* ------------------------------------------------------ Button ------------------------------------------------------ */
.button:hover .button_circle {
    clip-path: circle(100% at bottom center);
}

.button:hover .button_circle.is-blue + .button_text {
    color: var(--base-color-brand--blue-dark)
}
.button:hover .button_circle.is-green + .button_text {
    color: var(--base-color-brand--green-dark)
}
.button:hover .button_circle.is-orange + .button_text {
    color: var(--base-color-brand--orange-dark)
}
.button:hover .button_circle.is-pink + .button_text {
    color: var(--base-color-brand--pink-dark)
}
.button:hover .button_circle.is-black + .button_text {
    color: var(--base-color-brand--white)
}
.button:hover .button_circle.is-white + .button_text,
.button:hover .button_circle.is-alternate + .button_text {
    color: var(--base-color-brand--black)
}
.button:hover .button_circle.is-blue-dark + .button_text {
    color: var(--base-color-brand--blue)
}
.button:hover .button_circle.is-green-dark + .button_text {
    color: var(--base-color-brand--green)
}
.button:hover .button_circle.is-orange-dark + .button_text {
    color: var(--base-color-brand--orange)
}
.button:hover .button_circle.is-pink-dark + .button_text {
    color: var(--base-color-brand--pink)
}
.button:hover .button_circle.is-blue-light + .button_text {
    color: var(--base-color-brand--blue-dark)
}
.button:hover .button_circle.is-green-light + .button_text {
    color: var(--base-color-brand--green-dark)
}
.button:hover .button_circle.is-orange-light + .button_text {
    color: var(--base-color-brand--orange-dark)
}
.button:hover .button_circle.is-pink-light + .button_text {
    color: var(--base-color-brand--pink-dark)
}


/* ------------------------------------------------------ Navbar ------------------------------------------------------ */
.navbar_link_arrow {
    opacity: 0;
}

.navbar_link_list_second {
    display: none;
}

.navbar_link:hover {
    opacity: 1 !important;
}

.navbar_link.is-deactived {
    opacity: 0.2 !important;
}

.navbar_link_second {
    opacity: 0;
}

.navbar_link_second:hover {
    opacity: 1 !important;
}


/* ------------------------------------------------------ Mobility ------------------------------------------------------ */
.timeline_component.is-mobility .timeline_pin {
    color: var(--base-color-brand--orange);
}

.timeline_component.is-mobility .timeline_bar {
    background: var(--base-color-brand--orange);
}

.timeline_component.is-mobility .timeline_bar.is-gradient {
    background: linear-gradient(90deg, rgba(255, 136, 26, 0), rgba(255, 136, 26, 1));
}

.timeline_component.is-mobility .timeline_bar.is-gradient-inverse {
    background: linear-gradient(90deg, rgba(255, 136, 26, 1), rgba(255, 136, 26, 0));
}