/* ------------------------------------------------------ Button ------------------------------------------------------ */
.button:hover .button_circle {
  clip-path: circle(100% at bottom center);
}

.button:hover .button_circle.is-blue + .button_text {
  color: var(--base-color-brand--blue-dark);
}
.button:hover .button_circle.is-green + .button_text {
  color: var(--base-color-brand--green-dark);
}
.button:hover .button_circle.is-orange + .button_text {
  color: var(--base-color-brand--orange-dark);
}
.button:hover .button_circle.is-pink + .button_text {
  color: var(--base-color-brand--pink-dark);
}
.button:hover .button_circle.is-black + .button_text {
  color: var(--base-color-brand--white);
}
.button:hover .button_circle.is-white + .button_text,
.button:hover .button_circle.is-alternate + .button_text {
  color: var(--base-color-brand--black);
}
.button:hover .button_circle.is-blue-dark + .button_text {
  color: var(--base-color-brand--blue);
}
.button:hover .button_circle.is-green-dark + .button_text {
  color: var(--base-color-brand--green);
}
.button:hover .button_circle.is-orange-dark + .button_text {
  color: var(--base-color-brand--orange);
}
.button:hover .button_circle.is-pink-dark + .button_text {
  color: var(--base-color-brand--pink);
}
.button:hover .button_circle.is-blue-light + .button_text {
  color: var(--base-color-brand--blue-dark);
}
.button:hover .button_circle.is-green-light + .button_text {
  color: var(--base-color-brand--green-dark);
}
.button:hover .button_circle.is-orange-light + .button_text {
  color: var(--base-color-brand--orange-dark);
}
.button:hover .button_circle.is-pink-light + .button_text {
  color: var(--base-color-brand--pink-dark);
}

/* ------------------------------------------ All Sections (Main wrapper child) ------------------------------------------ */
.main-wrapper > * {
  opacity: 0;
}

/* ------------------------------------------------------ Accordion ------------------------------------------------------ */
.formations-details_content_infos_list .formations-details_content_infos_item:first-child {
  border-top: 0px solid transparent;
  padding-top: 0;
}

.formations-details_content_infos_list .formations-details_content_infos_item:last-child {
  padding-bottom: 0;
}

/* ------------------------------------------------------ Navbar ------------------------------------------------------ */
.navbar {
  transform: translateY(-110%);
}

.navbar_link_arrow {
  opacity: 0;
}

.navbar_link:hover {
  opacity: 1 !important;
}

.navbar_link.is-deactived {
  opacity: 0.2 !important;
}

/* .navbar_link_second {
  opacity: 0;
} */

.navbar_link_second:hover {
  opacity: 1 !important;
}

/* ------------------------------------------------------ Mobility ------------------------------------------------------ */
.timeline_content_wrapper_container .timeline_pin {
  color: var(--base-color-brand--orange);
}

.timeline_content_wrapper_container .timeline_bar {
  background: var(--base-color-brand--orange);
}

.timeline_content_wrapper_container .timeline_bar.is-gradient {
  background: linear-gradient(90deg, rgba(255, 136, 26, 0), rgba(255, 136, 26, 1));
}

.timeline_content_wrapper_container .timeline_bar.is-gradient-inverse {
  background: linear-gradient(90deg, rgba(255, 136, 26, 1), rgba(255, 136, 26, 0));
}

/* ------------------------------------------------------ About ------------------------------------------------------ */
.timeline_content_wrapper_container.is-about .timeline_pin {
  color: #e0e0e0;
}

.timeline_content_wrapper_container.is-about .timeline_bar {
  background: #e0e0e0;
}

.timeline_content_wrapper_container.is-about .timeline_bar.is-gradient {
  background: linear-gradient(90deg, #e0e0e000, #e0e0e0);
}

.timeline_content_wrapper_container.is-about .timeline_bar.is-gradient-inverse {
  background: linear-gradient(90deg, #e0e0e0, #e0e0e000);
}

.team_image_wrapper[data-bg-color='Bleu'] {
  color: var(--base-color-brand--blue-dark);
  background-color: var(--base-color-brand--blue);
}
.team_image_wrapper[data-bg-color='Orange'] {
  color: var(--base-color-brand--orange-dark);
  background-color: var(--base-color-brand--orange);
}
.team_image_wrapper[data-bg-color='Vert'] {
  color: var(--base-color-brand--green-dark);
  background-color: var(--base-color-brand--green);
}
.team_image_wrapper[data-bg-color='Rose'] {
  color: var(--base-color-brand--pink-dark);
  background-color: var(--base-color-brand--pink);
}

/* ------------------------------------------------------ FAQs Filters ------------------------------------------------------ */
label.faq_filters_btn:has(input[type='radio']:checked) {
  background-color: var(--base-color-brand--black);
  color: var(--base-color-brand--white);
}

/* ------------------------------------------------------ Blog ------------------------------------------------------ */
.blog_articles_featured_list_item_infos_title,
.blog_articles_featured_list_item_resume {
  -webkit-line-clamp: 3;
  overflow: hidden;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.blog_articles_featured_thumb_list_item_infos_title {
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

/* ------------------------------------------------------ Formations details ------------------------------------------------------ */
.text-rich-text.is-formation-details-second-bloc ul {
  list-style-type: '◆';
}

.text-rich-text.is-formation-details-content-targets ul {
  list-style-type: '\2705';
}
